@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  background-color: #181818 !important;
  font-family: "Roboto", sans-serif;
}

.btn-outline-orange {
  color: #ff6500;
  border-color: #ff6400;
}

.btn-outline-orange:hover,
.btn-outline-orange:focus {
  color: #fff !important;
  background-color: #ff6400;
}

.btn-orange {
  color: #fff;
  background-color: #ff6400;
}

.btn-orange:hover,
.btn-orange:focus {
  color: #fff;
  background-color: #a24102;
}

.nav-pills > li > a.active {
  background-color: #ff6500 !important;
}

.nav-link {
  color: #fff !important;
}

.anime-list .nav-link:not(.nav-link.active):hover {
  color: #ff6500 !important;
}

.spinner {
  position: fixed;
  z-index: 1031;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splide__item img {
  position: relative;
}

.splide__item .anime-info {
  position: absolute;
  font-family: "Source Sans Pro" sans-serif;
  z-index: 2;
  bottom: 0;
  color: #ffffff;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 1.2),
    rgba(0, 0, 0, 1.5)
  );
}

.splide__item .anime-info .anime-name {
  font-weight: bold;
}

.splide__item .anime-info .anime-duration {
  font-weight: bold;
  font-size: 18px;
}
.splide__item .anime-info .anime-description {
  font-weight: 400;
  font-size: 21px;
}

.tab-pane.active {
  animation: slide-down 2s ease-out;
}

.title {
  color: #fff !important;
  font-weight: bold;
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
