body,
.card-body {
  background-color: #181818 !important;
  font-family: "Roboto", sans-serif;
}

.card {
  border-color: #181818 !important;
}

.spinner {
  position: fixed;
  z-index: 1031;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img-top {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.anime-item {
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
}

.anime-item:hover {
  transform: scale(1.1);
}
