@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body,
.card-body {
  background-color: #181818 !important;
  font-family: "Roboto", sans-serif;
}

.black-gradient {
}

.card {
  border-color: #181818 !important;
}

.spinner {
  position: fixed;
  z-index: 1031;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img-top {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.anime-item {
  font-family: "Montserrat" sans-serif;
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
}

.anime-item:hover {
  transform: scale(1.1);
}

.tab-pane.active {
  animation: slide-down 2s ease-out;
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.splide__item img {
  position: relative;
}

.splide__item .anime-info {
  position: absolute;
  font-family: "Source Sans Pro" sans-serif;
  z-index: 2;
  bottom: 0;
  color: #ffffff;
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 1.2),
    rgba(0, 0, 0, 1.5)
  );
}

.splide__item .anime-info .anime-name {
  font-weight: bold;
}

.splide__item .anime-info .anime-duration {
  font-weight: bold;
  font-size: 18px;
}
.splide__item .anime-info .anime-description {
  font-weight: 400;
  font-size: 21px;
}
