<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <svg
        width="214"
        height="21"
        viewBox="0 0 214 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.160004 20V1.289H12.688V4.826H4.372V8.741H11.77V12.278H4.372V20H0.160004Z"
          fill="#FF6400"
        />
        <path
          d="M21.2799 1.073C24.0699 1.073 26.2119 1.568 27.7059 2.558C29.1999 3.53 29.9469 5.132 29.9469 7.364C29.9469 9.614 29.1909 11.243 27.6789 12.251C26.1669 13.241 24.0069 13.736 21.1989 13.736H19.8759V20H15.6639V1.559C16.5819 1.379 17.5539 1.253 18.5799 1.181C19.6059 1.109 20.5059 1.073 21.2799 1.073ZM21.5499 4.664C21.2439 4.664 20.9379 4.673 20.6319 4.691C20.3439 4.70899 20.0919 4.727 19.8759 4.745V10.145H21.1989C22.6569 10.145 23.7549 9.947 24.4929 9.551C25.2309 9.155 25.5999 8.417 25.5999 7.337C25.5999 6.815 25.5009 6.383 25.3029 6.041C25.1229 5.699 24.8529 5.429 24.4929 5.231C24.1509 5.015 23.7279 4.871 23.2239 4.799C22.7199 4.709 22.1619 4.664 21.5499 4.664Z"
          fill="#FF6400"
        />
        <path
          d="M47.2607 1.289V4.88H41.6177V20H37.4057V4.88H31.7627V1.289H47.2607Z"
          fill="#FF6400"
        />
        <path
          d="M55.5836 1.073C58.3736 1.073 60.5156 1.568 62.0096 2.558C63.5036 3.53 64.2506 5.132 64.2506 7.364C64.2506 9.614 63.4946 11.243 61.9826 12.251C60.4706 13.241 58.3106 13.736 55.5026 13.736H54.1796V20H49.9676V1.559C50.8856 1.379 51.8576 1.253 52.8836 1.181C53.9096 1.109 54.8096 1.073 55.5836 1.073ZM55.8536 4.664C55.5476 4.664 55.2416 4.673 54.9356 4.691C54.6476 4.70899 54.3956 4.727 54.1796 4.745V10.145H55.5026C56.9606 10.145 58.0586 9.947 58.7966 9.551C59.5346 9.155 59.9036 8.417 59.9036 7.337C59.9036 6.815 59.8046 6.383 59.6066 6.041C59.4266 5.699 59.1566 5.429 58.7966 5.231C58.4546 5.015 58.0316 4.871 57.5276 4.799C57.0236 4.709 56.4656 4.664 55.8536 4.664Z"
          fill="#FF6400"
        />
        <path
          d="M79.8446 16.382V20H67.3436V1.289H71.5556V16.382H79.8446Z"
          fill="#FF6400"
        />
        <path
          d="M95.9292 20C95.7312 19.352 95.5062 18.686 95.2542 18.002C95.0202 17.318 94.7862 16.634 94.5522 15.95H87.2622C87.0282 16.634 86.7852 17.318 86.5332 18.002C86.2992 18.686 86.0832 19.352 85.8852 20H81.5112C82.2132 17.984 82.8792 16.121 83.5092 14.411C84.1392 12.701 84.7512 11.09 85.3452 9.578C85.9572 8.066 86.5512 6.635 87.1272 5.285C87.7212 3.917 88.3332 2.585 88.9632 1.289H92.9862C93.5982 2.585 94.2012 3.917 94.7952 5.285C95.3892 6.635 95.9832 8.066 96.5772 9.578C97.1892 11.09 97.8102 12.701 98.4402 14.411C99.0702 16.121 99.7362 17.984 100.438 20H95.9292ZM90.8802 5.528C90.7902 5.798 90.6552 6.167 90.4752 6.635C90.2952 7.103 90.0882 7.643 89.8542 8.255C89.6202 8.867 89.3592 9.54199 89.0712 10.28C88.8012 11.018 88.5222 11.792 88.2342 12.602H93.5532C93.2652 11.792 92.9862 11.018 92.7162 10.28C92.4462 9.54199 92.1852 8.867 91.9332 8.255C91.6992 7.643 91.4922 7.103 91.3122 6.635C91.1322 6.167 90.9882 5.798 90.8802 5.528Z"
          fill="#FF6400"
        />
        <path
          d="M107.029 8.984C107.785 7.706 108.505 6.428 109.189 5.15C109.873 3.872 110.503 2.585 111.079 1.289H115.723C114.697 3.305 113.635 5.258 112.537 7.148C111.439 9.038 110.278 10.937 109.054 12.845V20H104.842V12.899C103.618 10.991 102.448 9.083 101.332 7.175C100.234 5.267 99.1717 3.305 98.1457 1.289H103.033C103.609 2.585 104.23 3.872 104.896 5.15C105.562 6.428 106.273 7.706 107.029 8.984Z"
          fill="#FF6400"
        />
        <path
          d="M114.717 10.118H122.547V13.763H114.717V10.118Z"
          fill="#FF6400"
        />
        <path
          d="M134.437 20.378C131.395 20.378 129.073 19.532 127.471 17.84C125.887 16.148 125.095 13.745 125.095 10.631C125.095 9.083 125.338 7.706 125.824 6.5C126.31 5.276 126.976 4.25 127.822 3.422C128.668 2.576 129.676 1.937 130.846 1.50499C132.016 1.07299 133.285 0.856995 134.653 0.856995C135.445 0.856995 136.165 0.919995 136.813 1.046C137.461 1.154 138.028 1.289 138.514 1.451C139 1.595 139.405 1.748 139.729 1.91C140.053 2.072 140.287 2.198 140.431 2.288L139.216 5.69C138.64 5.384 137.965 5.123 137.191 4.907C136.435 4.691 135.571 4.583 134.599 4.583C133.951 4.583 133.312 4.691 132.682 4.907C132.07 5.123 131.521 5.474 131.035 5.96C130.567 6.428 130.189 7.04 129.901 7.796C129.613 8.552 129.469 9.47 129.469 10.55C129.469 11.414 129.559 12.224 129.739 12.98C129.937 13.718 130.243 14.357 130.657 14.897C131.089 15.437 131.647 15.869 132.331 16.193C133.015 16.499 133.843 16.652 134.815 16.652C135.427 16.652 135.976 16.616 136.462 16.544C136.948 16.472 137.38 16.391 137.758 16.301C138.136 16.193 138.469 16.076 138.757 15.95C139.045 15.824 139.306 15.707 139.54 15.599L140.701 18.974C140.107 19.334 139.27 19.658 138.19 19.946C137.11 20.234 135.859 20.378 134.437 20.378Z"
          fill="#FF6400"
        />
        <path
          d="M155.914 16.382V20H143.413V1.289H147.625V16.382H155.914Z"
          fill="#FF6400"
        />
        <path
          d="M161.636 10.631C161.636 11.549 161.744 12.377 161.96 13.115C162.194 13.853 162.518 14.492 162.932 15.032C163.364 15.554 163.886 15.959 164.498 16.247C165.11 16.535 165.812 16.679 166.604 16.679C167.378 16.679 168.071 16.535 168.683 16.247C169.313 15.959 169.835 15.554 170.249 15.032C170.681 14.492 171.005 13.853 171.221 13.115C171.455 12.377 171.572 11.549 171.572 10.631C171.572 9.713 171.455 8.885 171.221 8.147C171.005 7.391 170.681 6.752 170.249 6.22999C169.835 5.69 169.313 5.276 168.683 4.988C168.071 4.7 167.378 4.556 166.604 4.556C165.812 4.556 165.11 4.709 164.498 5.015C163.886 5.303 163.364 5.717 162.932 6.257C162.518 6.779 162.194 7.418 161.96 8.174C161.744 8.912 161.636 9.731 161.636 10.631ZM175.919 10.631C175.919 12.233 175.676 13.646 175.19 14.87C174.722 16.076 174.074 17.093 173.246 17.921C172.418 18.731 171.428 19.343 170.276 19.757C169.142 20.171 167.918 20.378 166.604 20.378C165.326 20.378 164.12 20.171 162.986 19.757C161.852 19.343 160.862 18.731 160.016 17.921C159.17 17.093 158.504 16.076 158.018 14.87C157.532 13.646 157.289 12.233 157.289 10.631C157.289 9.029 157.541 7.625 158.045 6.419C158.549 5.195 159.224 4.16899 160.07 3.34099C160.934 2.51299 161.924 1.89199 163.04 1.47799C164.174 1.06399 165.362 0.856995 166.604 0.856995C167.882 0.856995 169.088 1.06399 170.222 1.47799C171.356 1.89199 172.346 2.51299 173.192 3.34099C174.038 4.16899 174.704 5.195 175.19 6.419C175.676 7.625 175.919 9.029 175.919 10.631Z"
          fill="#FF6400"
        />
        <path
          d="M191.986 20C190.78 17.858 189.475 15.743 188.071 13.655C186.667 11.567 185.173 9.596 183.589 7.742V20H179.431V1.289H182.86C183.454 1.883 184.111 2.612 184.831 3.476C185.551 4.34 186.28 5.267 187.018 6.257C187.774 7.229 188.521 8.246 189.259 9.308C189.997 10.352 190.69 11.36 191.338 12.332V1.289H195.523V20H191.986Z"
          fill="#FF6400"
        />
        <path
          d="M199.839 20V1.289H212.475V4.826H204.051V8.498H211.53V11.954H204.051V16.463H213.096V20H199.839Z"
          fill="#FF6400"
        />
      </svg>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-left">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="/anime"
            ><i class="fa fa-mobile"></i> Anime</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-search"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/anime/search">Anime</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
  nav .nav-item a:hover {
    color: #007bff !important;
    text-decoration: none;
  }
</style>
