<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <svg
        width="210"
        height="25"
        viewBox="0 0 210 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <mask
          id="path-1-outside-1"
          maskUnits="userSpaceOnUse"
          x="0.410156"
          y="-0.621094"
          width="210"
          height="26"
          fill="black"
        >
          <rect
            fill="white"
            x="0.410156"
            y="-0.621094"
            width="210"
            height="26"
          />
          <path
            d="M11.5361 19.2646L17.6299 1.67188H20.7061L12.7959 23H10.3057L2.41016 1.67188H5.47168L11.5361 19.2646Z"
          />
          <path
            d="M38.5918 1.67188V16.1738C38.582 18.1855 37.9473 19.8311 36.6875 21.1104C35.4375 22.3896 33.7383 23.1074 31.5898 23.2637L30.8428 23.293C28.5088 23.293 26.6484 22.6631 25.2617 21.4033C23.875 20.1436 23.1719 18.4102 23.1523 16.2031V1.67188H25.9355V16.1152C25.9355 17.6582 26.3604 18.8594 27.21 19.7188C28.0596 20.5684 29.2705 20.9932 30.8428 20.9932C32.4346 20.9932 33.6504 20.5684 34.4902 19.7188C35.3398 18.8691 35.7646 17.6729 35.7646 16.1299V1.67188H38.5918Z"
          />
          <path d="M46.0479 23H43.2354V1.67188H46.0479V23Z" />
          <path
            d="M66.9512 20.2021C66.2285 21.2373 65.2178 22.0137 63.9189 22.5312C62.6299 23.0391 61.126 23.293 59.4072 23.293C57.6689 23.293 56.126 22.8877 54.7783 22.0771C53.4307 21.2568 52.3857 20.0947 51.6436 18.5908C50.9111 17.0869 50.5352 15.3438 50.5156 13.3613V11.501C50.5156 8.28809 51.2627 5.79785 52.7568 4.03027C54.2607 2.2627 56.3701 1.37891 59.085 1.37891C61.3115 1.37891 63.1035 1.9502 64.4609 3.09277C65.8184 4.22559 66.6484 5.83691 66.9512 7.92676H64.1387C63.6113 5.10449 61.9316 3.69336 59.0996 3.69336C57.2148 3.69336 55.7842 4.35742 54.8076 5.68555C53.8408 7.00391 53.3525 8.91797 53.3428 11.4277V13.1709C53.3428 15.5635 53.8896 17.4678 54.9834 18.8838C56.0771 20.29 57.5566 20.9932 59.4219 20.9932C60.4766 20.9932 61.3994 20.876 62.1904 20.6416C62.9814 20.4072 63.6357 20.0117 64.1533 19.4551V14.665H59.2168V12.3799H66.9512V20.2021Z"
          />
          <path
            d="M88.0449 23H85.2178V13.1416H74.4658V23H71.6533V1.67188H74.4658V10.8418H85.2178V1.67188H88.0449V23Z"
          />
          <path
            d="M105.096 13.1416H95.8525V20.7002H106.59V23H93.04V1.67188H106.443V3.98633H95.8525V10.8418H105.096V13.1416Z"
          />
          <path d="M115.306 15.0459H108.157V12.834H115.306V15.0459Z" />
          <path
            d="M134.07 16.2324C133.807 18.4883 132.972 20.2314 131.565 21.4619C130.169 22.6826 128.309 23.293 125.984 23.293C123.465 23.293 121.443 22.3896 119.92 20.583C118.406 18.7764 117.649 16.3594 117.649 13.332V11.2812C117.649 9.29883 118.001 7.55566 118.704 6.05176C119.417 4.54785 120.423 3.39551 121.722 2.59473C123.021 1.78418 124.524 1.37891 126.233 1.37891C128.499 1.37891 130.315 2.01367 131.683 3.2832C133.05 4.54297 133.846 6.29102 134.07 8.52734H131.243C130.999 6.82812 130.467 5.59766 129.646 4.83594C128.836 4.07422 127.698 3.69336 126.233 3.69336C124.437 3.69336 123.025 4.35742 122 5.68555C120.984 7.01367 120.477 8.90332 120.477 11.3545V13.4199C120.477 15.7344 120.96 17.5752 121.927 18.9424C122.894 20.3096 124.246 20.9932 125.984 20.9932C127.547 20.9932 128.743 20.6416 129.573 19.9385C130.413 19.2256 130.97 17.9902 131.243 16.2324H134.07Z"
          />
          <path
            d="M140.75 20.7002H150.857V23H137.923V1.67188H140.75V20.7002Z"
          />
          <path
            d="M169.505 13.0244C169.505 15.1143 169.153 16.9404 168.45 18.5029C167.747 20.0557 166.751 21.2422 165.462 22.0625C164.173 22.8828 162.669 23.293 160.95 23.293C159.271 23.293 157.781 22.8828 156.482 22.0625C155.184 21.2324 154.173 20.0557 153.45 18.5322C152.737 16.999 152.371 15.2266 152.352 13.2148V11.6768C152.352 9.62598 152.708 7.81445 153.421 6.24219C154.134 4.66992 155.14 3.46875 156.438 2.63867C157.747 1.79883 159.241 1.37891 160.921 1.37891C162.63 1.37891 164.134 1.79395 165.433 2.62402C166.741 3.44434 167.747 4.64062 168.45 6.21289C169.153 7.77539 169.505 9.59668 169.505 11.6768V13.0244ZM166.707 11.6475C166.707 9.11816 166.199 7.17969 165.184 5.83203C164.168 4.47461 162.747 3.7959 160.921 3.7959C159.144 3.7959 157.742 4.47461 156.717 5.83203C155.701 7.17969 155.179 9.05469 155.149 11.457V13.0244C155.149 15.4756 155.662 17.4043 156.688 18.8105C157.723 20.207 159.144 20.9053 160.95 20.9053C162.767 20.9053 164.173 20.2461 165.169 18.9277C166.165 17.5996 166.678 15.7002 166.707 13.2295V11.6475Z"
          />
          <path
            d="M190.115 23H187.288L176.551 6.56445V23H173.724V1.67188H176.551L187.317 18.1807V1.67188H190.115V23Z"
          />
          <path
            d="M207.166 13.1416H197.923V20.7002H208.66V23H195.11V1.67188H208.514V3.98633H197.923V10.8418H207.166V13.1416Z"
          />
        </mask>
        <path
          d="M11.5361 19.2646L17.6299 1.67188H20.7061L12.7959 23H10.3057L2.41016 1.67188H5.47168L11.5361 19.2646Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M38.5918 1.67188V16.1738C38.582 18.1855 37.9473 19.8311 36.6875 21.1104C35.4375 22.3896 33.7383 23.1074 31.5898 23.2637L30.8428 23.293C28.5088 23.293 26.6484 22.6631 25.2617 21.4033C23.875 20.1436 23.1719 18.4102 23.1523 16.2031V1.67188H25.9355V16.1152C25.9355 17.6582 26.3604 18.8594 27.21 19.7188C28.0596 20.5684 29.2705 20.9932 30.8428 20.9932C32.4346 20.9932 33.6504 20.5684 34.4902 19.7188C35.3398 18.8691 35.7646 17.6729 35.7646 16.1299V1.67188H38.5918Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M46.0479 23H43.2354V1.67188H46.0479V23Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M66.9512 20.2021C66.2285 21.2373 65.2178 22.0137 63.9189 22.5312C62.6299 23.0391 61.126 23.293 59.4072 23.293C57.6689 23.293 56.126 22.8877 54.7783 22.0771C53.4307 21.2568 52.3857 20.0947 51.6436 18.5908C50.9111 17.0869 50.5352 15.3438 50.5156 13.3613V11.501C50.5156 8.28809 51.2627 5.79785 52.7568 4.03027C54.2607 2.2627 56.3701 1.37891 59.085 1.37891C61.3115 1.37891 63.1035 1.9502 64.4609 3.09277C65.8184 4.22559 66.6484 5.83691 66.9512 7.92676H64.1387C63.6113 5.10449 61.9316 3.69336 59.0996 3.69336C57.2148 3.69336 55.7842 4.35742 54.8076 5.68555C53.8408 7.00391 53.3525 8.91797 53.3428 11.4277V13.1709C53.3428 15.5635 53.8896 17.4678 54.9834 18.8838C56.0771 20.29 57.5566 20.9932 59.4219 20.9932C60.4766 20.9932 61.3994 20.876 62.1904 20.6416C62.9814 20.4072 63.6357 20.0117 64.1533 19.4551V14.665H59.2168V12.3799H66.9512V20.2021Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M88.0449 23H85.2178V13.1416H74.4658V23H71.6533V1.67188H74.4658V10.8418H85.2178V1.67188H88.0449V23Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M105.096 13.1416H95.8525V20.7002H106.59V23H93.04V1.67188H106.443V3.98633H95.8525V10.8418H105.096V13.1416Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M115.306 15.0459H108.157V12.834H115.306V15.0459Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M134.07 16.2324C133.807 18.4883 132.972 20.2314 131.565 21.4619C130.169 22.6826 128.309 23.293 125.984 23.293C123.465 23.293 121.443 22.3896 119.92 20.583C118.406 18.7764 117.649 16.3594 117.649 13.332V11.2812C117.649 9.29883 118.001 7.55566 118.704 6.05176C119.417 4.54785 120.423 3.39551 121.722 2.59473C123.021 1.78418 124.524 1.37891 126.233 1.37891C128.499 1.37891 130.315 2.01367 131.683 3.2832C133.05 4.54297 133.846 6.29102 134.07 8.52734H131.243C130.999 6.82812 130.467 5.59766 129.646 4.83594C128.836 4.07422 127.698 3.69336 126.233 3.69336C124.437 3.69336 123.025 4.35742 122 5.68555C120.984 7.01367 120.477 8.90332 120.477 11.3545V13.4199C120.477 15.7344 120.96 17.5752 121.927 18.9424C122.894 20.3096 124.246 20.9932 125.984 20.9932C127.547 20.9932 128.743 20.6416 129.573 19.9385C130.413 19.2256 130.97 17.9902 131.243 16.2324H134.07Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M140.75 20.7002H150.857V23H137.923V1.67188H140.75V20.7002Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M169.505 13.0244C169.505 15.1143 169.153 16.9404 168.45 18.5029C167.747 20.0557 166.751 21.2422 165.462 22.0625C164.173 22.8828 162.669 23.293 160.95 23.293C159.271 23.293 157.781 22.8828 156.482 22.0625C155.184 21.2324 154.173 20.0557 153.45 18.5322C152.737 16.999 152.371 15.2266 152.352 13.2148V11.6768C152.352 9.62598 152.708 7.81445 153.421 6.24219C154.134 4.66992 155.14 3.46875 156.438 2.63867C157.747 1.79883 159.241 1.37891 160.921 1.37891C162.63 1.37891 164.134 1.79395 165.433 2.62402C166.741 3.44434 167.747 4.64062 168.45 6.21289C169.153 7.77539 169.505 9.59668 169.505 11.6768V13.0244ZM166.707 11.6475C166.707 9.11816 166.199 7.17969 165.184 5.83203C164.168 4.47461 162.747 3.7959 160.921 3.7959C159.144 3.7959 157.742 4.47461 156.717 5.83203C155.701 7.17969 155.179 9.05469 155.149 11.457V13.0244C155.149 15.4756 155.662 17.4043 156.688 18.8105C157.723 20.207 159.144 20.9053 160.95 20.9053C162.767 20.9053 164.173 20.2461 165.169 18.9277C166.165 17.5996 166.678 15.7002 166.707 13.2295V11.6475Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M190.115 23H187.288L176.551 6.56445V23H173.724V1.67188H176.551L187.317 18.1807V1.67188H190.115V23Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
        <path
          d="M207.166 13.1416H197.923V20.7002H208.66V23H195.11V1.67188H208.514V3.98633H197.923V10.8418H207.166V13.1416Z"
          stroke="#FAFF00"
          stroke-width="2.4"
          mask="url(#path-1-outside-1)"
        />
      </svg>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-left">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="/"
            ><i class="fa fa-home"></i> Trang chủ</a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="/anime"
            ><i class="fa fa-mobile"></i> Anime</a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="/manga"
            ><i class="fa fa-mobile"></i> Manga</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tìm kiếm
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/anime/search">Anime</a></li>
            <li><a class="dropdown-item" href="/manga/search">Manga</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
  .nav-item a:hover {
    color: #007bff !important;
    text-decoration: none;
  }
</style>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
  integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
  crossorigin="anonymous"
></script>
<script>
  anime({
    targets: ".navbar-brand path",
    strokeDashoffset: [anime.setDashoffset, 0],
    easing: "easeInOutSine",
    duration: 1000,
    delay: function (el, i) {
      return i * 250;
    },
    direction: "alternate",
    loop: true,
    endDelay: 2000,
  });
</script>
